* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100dvh;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #999999;
  text-align: center;
  margin: 20px;
}

section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 15%;
  color: #999999;
  align-items: center;
  justify-content: center;
}

label {
  text-align: center;
}

input {
  margin-bottom: 10px;
}

#submit {
  width: 30%;
  margin-top: 10px;
  padding: 10px auto;
  cursor: pointer;
  font-size: 14px;
}

@media only screen and (max-width: 1320px) {
  #submit {
    width: 40%;
  }
}

@media only screen and (max-width: 650px) {
  #submit {
    width: 100%;
  }
}

p {
  color: #999999;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.link {
  color: #7590f0;
  margin-left: 10px;
  text-decoration: none;
}

.github {
  text-decoration: none;
}

button {
  padding: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.githubContainer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.error-list {
  list-style-type: none;
  color: red;
}

.testUser {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #999999;
  margin-top: 50px;
  border: 1px solid #999999;
  border-radius: 25px;
  padding: 25px;
  width: fit-content;
}

.testUser pre {
  font-family: inherit;
}
