<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta autor='Matias Ezequiel Carballo' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/css/{{style}}' />
    <meta name='description' content='Simulación de ecommerce' />
    <meta
      name='keywords'
      content='ecommerce, productos, ventas, compras, tienda, tienda virtual, tienda online, tienda en línea, tienda en linea, vender, comprar'
    />
  </head>
  <body>
    {{{body}}}
  </body>
</html>